# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_YELLOJACKET_LEFT
    def_bool $(shields_list_contains,yellowjacket_left)

config SHIELD_YELLOJACKET_RIGHT
    def_bool $(shields_list_contains,yellowjacket_right)
