# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_YELLOWJACKET_YJ1_LEFT

config ZMK_KEYBOARD_NAME
	default "YJ1"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_YELLOWJACKET_YJ1_RIGHT

config ZMK_KEYBOARD_NAME
	default "YJ1_R"

endif

if SHIELD_YELLOWJACKET_YJ1_RIGHT || SHIELD_YELLOWJACKET_YJ1_LEFT

config ZMK_SPLIT
	default y

endif
